<template>
<div class="calendar">
    <h2 class="calendar_title">{{title}}</h2>
    <div>{{msg}}</div>

    <div class="calendar_time">
        <div>Время</div>
        <div class="calendar_time_now">{{timeNow}}</div>
    </div>

    <div class="calendar_nav">
        <div class="calendar_nav_select" @click="previousMonth">&lt;&lt;</div>
        <div class="calendar_nav_date">{{getDate}}</div>
        <div class="calendar_nav_select" @click="nextMonth">&gt;&gt;</div>
    </div>
    
    <div class="calendar_head">
        <div class="calendar_head_day" v-for="item in dayLabels" :key="item.id">
            {{item.daylabel}}
        </div>
    </div>
    <div class="calendar_days">
        <div class="calendar_days_day" v-for="(day, index) in dates" :key="index" @click="selectDay(day)">
            {{day}}
        </div>
    </div>
    <hr>
    <div class="calendar_dateSelected">
        <span class="calendar_dateSelected_date" v-if="selectDate != null">{{selectDate}}</span>
        <span class="calendar_dateSelected_date" v-else>выберите дату</span>
    </div>
    
</div>
</template>

<script>
const MONTH_NAMES = ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"];

export default {
    name: 'Calendar',
    props: {
        msg: String
    },
    data: function () {
		return {
            title: "Календарь",
            timeNow: null,  // Показывает текущее время
            date: new Date(), // Выбраная дата
            dayLabels : [
                { id: 1, daylabel : 'Пн' },
                { id: 2, daylabel : 'Вт' },
                { id: 3, daylabel : 'Ср' },
                { id: 4, daylabel : 'Чт' },
                { id: 5, daylabel : 'Пт' },
                { id: 6, daylabel : 'Сб' },
                { id: 7, daylabel : 'Вс' },
            ],
            selectDate: null,  // Выбранная дата
        }
  },
  mounted() {
        // Часы
        this.timeNow = setInterval(() => {
            this.updateTime();
        }, 1000);
        this.updateTime();
    },
    computed: {
        getDate() {
            let now = this.date;
            return MONTH_NAMES[now.getMonth()]+' '+now.getFullYear();
        },
        dates() {
            let alldaysInMonth = new Date(this.date.getFullYear(), this.date.getMonth()+1, 0).getDate();
            let arrAlldaysInMonth = Array.from({length: alldaysInMonth}, (_, i) => i + 1); // Дни месяца в массив
            let firstday = new Date(this.date.getFullYear(), this.date.getMonth()); // Первый день месяца
            let skipDays = firstday.getDay()>0 ? Array.from(' '.repeat(firstday.getDay()-1)) : []; // Пропустить дней в начале месяца
            let arrDays = skipDays.concat(arrAlldaysInMonth);

            return arrDays;
        },
  },
  methods: {
        updateTime() {
            let timenow = new Date();
            const seconds = timenow.getSeconds() > 9 ? timenow.getSeconds() : '0' + timenow.getSeconds();
            const minutes = timenow.getMinutes() > 9 ? timenow.getMinutes() : '0' + timenow.getMinutes();
            const hours = timenow.getHours() > 9 ? timenow.getHours() : '0' + timenow.getHours();
            this.timeNow = hours + '-' + minutes + '-' + seconds;
        },
        nextMonth() {
            if (this.date.getMonth() === 11) {
                this.date = new Date(this.date.setYear(this.date.getFullYear()+1));
                this.date = new Date(this.date.setMonth(0));
            } else {
                this.date = new Date(this.date.setMonth(this.date.getMonth()+1));
            }      
        },
        previousMonth() {
            if (this.date.getMonth() === 0) {
                this.date = new Date(this.date.setYear(this.date.getFullYear()-1));
                this.date = new Date(this.date.setMonth(11));
            } else {
                this.date = new Date(this.date.setMonth(this.date.getMonth()-1));
            }  
        },
        selectDay(day) {
            day = day > 9 ? day : '0' + day;
            const month = this.date.getMonth()+1 > 9 ? (this.date.getMonth()+1) : '0' + (this.date.getMonth()+1);
            this.selectDate =  day + "-" + month + "-" + this.date.getFullYear();
        }
    }
}
</script>

<style scoped>
.calendar {
    width: 360px;
    background-color: #1d2536;
    color: #f4d2bb;
}
.calendar > .calendar_time > .calendar_time_now {
    font-size: 1.2em;
    padding: 0.5em 0;
}
.calendar > .calendar_nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0.4em;
}
.calendar > .calendar_nav > .calendar_nav_select {
    display: inline-block;
    border-radius: 8px;
    margin: 0 2em;
    height: 1.8em;
}
.calendar > .calendar_nav > .calendar_nav_select:hover {
    background-color: royalblue;
    cursor: pointer;
}
.calendar > .calendar_head {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.calendar > .calendar_head > .calendar_head_day {
    font-weight: bold;
}
.calendar > .calendar_days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.calendar > .calendar_days > .calendar_days_day {
    border: 1px solid #0000;
    border-radius: 8px;
    padding: 0.2em;
}
.calendar > .calendar_days > .calendar_days_day:hover {
    background-color:royalblue;
    cursor: pointer;
    border: 1px solid #efc1a1;
}
.calendar > .calendar_dateSelected {
    padding: 0.5em;
    font-weight: bold;
}
</style>