<template>
  <!--<img alt="Vue logo" src="./assets/logo.png">-->
  <Hello msg="Components Vue"/>   
  <DentalCard />
  <Calendar />
</template>

<script>
import Hello from './components/Hello.vue'
/*import DentalCard from './components/DentalCard.vue'*/
import Calendar from './components/Calendar.vue'

export default {
  name: 'App',
  components: {
    Hello,
    Calendar
  }
}
</script>

<style>
#app {
  /*font-family: Avenir, Helvetica, Arial, sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
